/data


/first_project/node_modules
/first_project/public/hot
/first_project/public/storage
/first_project/storage/*.key
/first_project/.idea
/first_project/.vscode
/first_project/.vagrant
/first_project/Homestead.yaml
/first_project/Homestead.json
/first_project/npm-debug.log
/first_project/yarn-error.log
/first_project/.phpstorm.meta.php
/first_project/.DS_Store
/first_project/Thumbs.db
/first_project/package-lock.json


/second_project/node_modules
/second_project/public/hot
/second_project/public/storage
/second_project/storage/*.key
/second_project/.idea
/second_project/.vscode
/second_project/.vagrant
/second_project/Homestead.yaml
/second_project/Homestead.json
/second_project/npm-debug.log
/second_project/yarn-error.log
/second_project/.phpstorm.meta.php
/second_project/.DS_Store
/second_project/Thumbs.db
/second_project/package-lock.json